[Unit]
Description=Run North America ALPR current-state replication every minute

[Timer]
OnBootSec=2min
OnUnitInactiveSec=1min
AccuracySec=1s
RandomizedDelaySec=5s
Persistent=true
Unit=daf-osm-current-update.service

[Install]
WantedBy=timers.target
