[Unit]
Description=Run OSM changeset replication every minute

[Timer]
OnBootSec=2min
OnUnitInactiveSec=1min
AccuracySec=1s
RandomizedDelaySec=5s
Persistent=true
Unit=daf-osm-changeset-update.service

[Install]
WantedBy=timers.target
